:root {
    --orange: #ec5342;
    --black: #272a31;
    --white: #d3d3d3;
  }
  a{
    text-decoration: none;
  }
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: var(--black);
  }
  
  .desktop-only {
    display: none;
  }
  
  .active-page {
    color: var(--orange);
  }
  
  .nav {
    padding: 16px;
  }
  
  .nav-popup {
    display: none;
    height: 100vh;
  }
  
  .nav-popup-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  
  .nav-popup-list-link {
    text-decoration: none;
    color: var(--black);
  }
  
  .nav-popup-list-item {
    font-size: 3em;
    line-height: 69px;
  }
  
  .menu-icon {
    font-size: 2em;
  }
  
  .main-intro {
    padding: 20px;
    background-image: url(../assets/backgrounds/homeMainBg.png);
    background-size: cover;
  }
  
  .main-intro-preheading {
    color: var(--orange);
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
  }
  
  .main-intro-heading {
    color: var(--orange);
    margin: 0 0 10px 0;
    font-size: 4em;
    font-weight: 900;
  }
  
  .main-intro-description {
    text-align: justify;
    padding: 16px;
    max-width: 800px;
  }
  
  .main-intro-date {
    font-size: 1.7em;
    font-weight: 800;
    margin: 0;
  }
  
  .main-intro-location {
    font-size: 1em;
    margin: 0 0 40px 0;
  }
  
  .main-main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    padding: 20px;
    background-color: var(--black);
    background-image: url(../assets/backgrounds/mainProgramBg.png);
    background-size: contain;
  }
  
  .main-main-program-heading {
    margin-bottom: 5px;
  }
  
  .hr-orange {
    border: 1px solid var(--orange);
    width: 50px;
  }
  
  .main-main-program-programs {
    display: flex;
    flex-direction: column;
  }
  
  .main-main-program-programs-program {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #fff1;
    margin: 10px;
  }
  
  .main-main-program-programs-program i {
    font-size: 2em;
    flex: 1;
    margin-right: 3%;
  }
  
  .main-main-program-programs-program-heading {
    font-size: 1.5em;
    flex: 1;
    margin: 0 5% 0 0;
    color: var(--orange);
  }
  
  .main-main-program-programs-program-description {
    flex: 5;
  }
  
  .main-main-program-button {
    background-color: var(--orange);
    color: var(--white);
    border: none;
    padding: 30px;
    font-size: 1.5em;
    margin: 20px 0;
    width: 80%;
    cursor: pointer;
  }
  
  .main-main-program-button:hover {
    background-color: var(--black);
    color: var(--orange);
    border: 1px solid var(--orange);
  }
  
  .main-featured-speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .main-featured-speakers-heading {
    margin: 0;
  }
  
  .main-featured-speakers-hr {
    margin-bottom: 50px;
  }
  
  .main-featured-speakers-speaker {
    display: flex;
    margin-bottom: 20px;
  }
  
  .main-featured-speakers-speaker-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .main-featured-speakers-speaker-image-div::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ec5342;
    margin: -6px 0 0 -6px;
  }
  
  .main-featured-speakers-speaker-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
  }
  
  .main-featured-speakers-speaker-name {
    margin: 0;
  }
  
  .main-featured-speakers-speaker-title {
    color: var(--orange);
    margin: 0;
  }

  /* About Page */
  .about-intro-preheading {
    text-align: center;
  }
  
  .about-intro-heading {
    text-align: center;
  }
  
  .about-intro-description {
    text-align: center;
    padding: 16px;
  }
  
  .about-intro-description a {
    color: var(--orange);
  }
  
  .about-past-codingcons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-past-codingcons-heading {
    margin: 0;
  }
  
  .about-past-codingcons-hr {
    margin-bottom: 20px;
  }
  
  .about-past-codingcons-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
  }
  
  .about-past-codingcons-list-codingcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 300px;
    color: var(--white);
    background-size: cover !important;
    margin-bottom: 50px;
  }
  
  .year,
  .place {
    margin: 0;
    font-size: 1.7em;
  }
  
  #year2022 {
    background: linear-gradient(to right, #ec5342, #fff0), url(../assets/oldCodingCons/ndc2022.webp);
  }
  
  #year2021 {
    background: linear-gradient(to right, #ec5342, #fff0), url(../assets/oldCodingCons/ndc2021.webp);
  }
  
  #year2020 {
    background: linear-gradient(to right, #ec5342, #fff0), url(../assets/oldCodingCons/ndc2020.webp);
  }
  
  .about-partners {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
  }
  
  .about-partners-heading {
    text-align: center;
  }
  
  .about-partners-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-partners-list img {
    padding: 14px;
    width: fit-content;
    height: 36px;
    object-fit: contain;
  }
  
  .about-attribution {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .about-attribution img {
    width: 50%;
    max-width: 200px;
  }
  
  .about-attribution-text {
    font-size: 1.5em;
  }
  
  .about-attribution a {
    color: var(--orange);
    text-decoration: none;
  }
  
  
  @media only screen and (min-width: 768px) {
    .mobile-only {
      display: none !important;
    }
  
    .desktop-only {
      display: block;
    }
  
    .nav {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 36px;
    }
  
    .nav-links-list {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      align-items: center;
      padding: 0;
      margin: 0;
      font-size: 18px;
    }
  
    .nav-links-list-link {
      text-decoration: none;
      color: var(--black);
    }
  
    .nav-links-list-link:hover {
      color: var(--orange);
    }
  
    .nav-links-list-item {
      padding: 0 16px;
    }
  
    .nav-links-list-logo {
      width: 100px;
    }
  
    .main-intro-location {
      margin: 0 0 80px 0;
    }
  
    .main-main-program-programs {
      flex-direction: row;
    }
  
    .main-main-program-programs-program {
      flex-direction: column;
      text-align: center;
    }
  
    .main-main-program-programs-program-heading {
      margin-top: 10px;
    }
  
    .main-main-program-more-link {
      color: var(--white);
    }
  
    .main-main-program-more-link-text {
      margin: 50px 0;
    }
  
    .main-featured-speakers {
      padding: 50px 7%;
    }
  
    .main-featured-speakers-speakers {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }
  
    .main-featured-speakers-speaker {
      margin-bottom: 0;
    }
  
    .about-partners {
      background-color: var(--black);
      color: var(--white);
      padding: 20px;
    }
  
    .about-partners-heading {
      text-align: center;
      margin-top: 0;
    }
  
    .about-partners-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 50px;
    }
  
    .about-partners-list img {
      padding: 14px;
      width: fit-content;
      height: 36px;
      object-fit: contain;
    }
  
    .about-attribution {
      padding: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  
    .about-attribution img {
      width: 50%;
      max-width: 200px;
    }
  
    .about-attribution-text {
      font-size: 1.5em;
    }
  
    .about-attribution a {
      color: var(--orange);
      text-decoration: none;
    }
    /* about attribution */
    .about-intro-description {
      padding: 16px 20%;
    }
  
    .about-codingcon-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 50px 20%;
      margin-bottom: 50px;
    }
  
    .about-codingcon-logo-heading {
      margin: 0;
    }
  
    .about-codingcon-logo-img {
      width: 200px;
    }
  
    .about-past-codingcons-list {
      flex-direction: row;
      box-sizing: border-box;
      padding: 0 50px;
    }
  
    .about-past-codingcons-list-codingcon {
      margin: 0 10px 100px 5px;
    }
  
    .about-attribution {
      background-color: var(--black);
      color: var(--white);
      padding: 70px 0;
    }
  }
  